<div id='create-container'>
    <form id='form-container'> 
        <fieldset id='quiz-field'>
            <legend>Quiz</legend>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="description">Description</label>
            <input type="text" id="description">
        </fieldset>
    </form>
    <div id='footer'>
        <button id='add'>Add Question</button>
        <button id='submit'>Create</button>
    </div>
</div>
<script type="text/javascript" src="/javascript/create.js"></script>