<div id='create-container'>
    <div id="quiz-field">
        <button id="basic-options-button">Quiz<i class="fas fa-angle-down"></i></button>
        <div id="basic-options">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" autocomplete="off">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="4"></textarea>
        </div>
        <button id="more-options-button">Options<i class="fas fa-angle-down"></i></button>
        <div id="more-options" class="hidden">

            <label for="category">Category</label>
            <select name="category" id="category">
                <option>Web</option>
                <option>Python</option>
                <option>C/C#/C++</option>
                <option>Other</option>
            </select>

            <label for="availability">Availability</label>
            <select name="availability" id="availability">
                <option>Public</option>
                <option>Private</option>
            </select>

            <label for="start">Start</label>
            <input type="datetime-local" name="start" id="start">

            <label for="expiry">Expiry</label>
            <input type="datetime-local" name="expiry" id="expiry">

            <label for="passScore">Pass Score</label>
            <input type="number" name="passScore" id="passScore">

            <label for="Evaluation">Evaluation</label>
            <select name="evaluation" id="evaluation">
                <option>Best</option>
                <option>Latest</option>
            </select>

            <label for="timeLimit">Time Limit</label>
            <input type="number" name="timeLimit" id="timeLimit">

            <label for="submLimit">Subm. Limit</label>
            <input type="number" name="submLimit" id="submLimit">

            <label for="questionsLimit">Questions</label>
            <input type="number" name="questionsLimit" id="questionsLimit">

            <label for="shuffle">Shuffle</label>
            <input type="checkbox" name="shuffle" id="shuffle">
        </div>
        <button id="add-question">Add Question</button>
        <button id="create-quiz">Create Quiz</button>
    </div>
    <div id="questions-field">
    </div>
</div>
<script type="text/javascript" src="/javascript/create.js"></script>