<!DOCTYPE html>
<html>
  <head>
    <title>Quest-i</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
      <div id="header">
          <a href='/'><h1 class>Quest-i</h1></a>
          <p>quizzes for devs</p>
      </div>
      <nav>
          {{#unless authorized}}
          <div><p>&nbsp;</p></div>
          <div>
            <a class="{{#if active.login}}active{{/if}}" href="/login">Login</a>
            <a class="{{#if active.register}}active{{/if}}" href="/register">Register</a>
          </div>
          {{/unless}}
          {{#if authorized}}
          <div>
            <a class="{{#if active.home}}active{{/if}}" href="/">Home</a>
            <a class="{{#if active.quizzes}}active{{/if}}" href="/quizzes">Quizzes</a>
            <a class="{{#if active.creator}}active{{/if}}" href="/creator">Creator</a>
            <a class="{{#if active.history}}active{{/if}}" href="/history">History</a>
          </div>
          <div>
            <p id='username'>{{user.username}}</p>
          </div>
          {{/if}}
      </nav>
      {{{body}}}
  </body>
</html>
