<!DOCTYPE html>
<html>
  <head>
    <title>Quest-i</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
      <div id="header">
          <h1 class>Quest-i</h1>
      </div>
      <nav>
          {{#unless authorized}}
          <a class="{{#if active.login}}active{{/if}}" href="/login">Login</a>
          <a class="{{#if active.register}}active{{/if}}" href="/register">Register</a>
          {{/unless}}
          {{#if authorized}}
          <a href="/create">Create</a>
          <p id='username'>{{user.username}}</p>
          {{/if}}
      </nav>
      <div>{{{body}}}</div>
  </body>
</html>
