<!DOCTYPE html>
<html>
  <head>
    <title>Quest-i</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
      <div id="header">
          <a href='/'><h1 class>Quest-i</h1></a>
      </div>
      <nav>
          {{#unless authorized}}
          <div><p>&nbsp;</p></div>
          <div>
            <a class="{{#if active.login}}active{{/if}}" href="/login">Login</a>
            <a class="{{#if active.register}}active{{/if}}" href="/register">Register</a>
          </div>
          {{/unless}}
          {{#if authorized}}
          <div>
            <a href="/history">History</a>
          </div>
          <div>
            <p id='username'>{{user.username}}</p>
          </div>
          {{/if}}
      </nav>
      <div>{{{body}}}</div>
  </body>
</html>
