<form>
    <p id='log'>&nbsp;</p>
    <input type="text" placeholder="username" name="username" required>
    <input type="password" placeholder="password" name="password" required>
    <button type="submit" id="submit-button">Login</button>
</form>
<script type="text/javascript" src="/javascript/login.js"></script>
