<div class="login-container">
<form class="authorize">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>
    <p id='log'>&nbsp;</p>
    <button type="submit" id="login-button">Login</button>
</form>
</div>
<script type="text/javascript" src="/javascript/login.js"></script>
