<div class="register-container">
<form class="authorize">
    <label for="username">Username</label>
    <input type="text"name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <p id='log'>&nbsp;</p>
    <button type="submit" id="register-button">Register</button>
</form>
</div>
<script type="text/javascript" src="/javascript/register.js"></script>
