body {
    margin-top:20px;
    margin-left: 100px;
    margin-right: 100px;
}

/* header */
#header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#header a{
    text-decoration: none;
    color: black;
}

#header p {
    color: grey;
    margin-left: 10px;
}

#header * {
    margin: 0px;
}

/* nav bar */
nav {
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div *{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav div a {
    display: inline-block;
    width: 100px;
    text-align: center;
}

nav div p {
    width: 100px;
    text-align: center;
}
a.active {
    color:bisque;
}

/* sample quizzes */
div#sample-quizzes {
    display: flex;
    justify-content: space-around;
}

div#sample-quizzes div {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
}

div#sample-quizzes div:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

/* login-register */
form.authorize {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form.authorize label {
    font-size: 18px;
}

form.authorize input {
    margin-bottom: 16px;
}

form button {
    font-size: 16px;
}

/* history log */
.record {
    display: flex;   
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 15px;
}
.record:hover{
    cursor: pointer;
}

.record p {
    font-size: 14px;
    width: 200px;
    text-align: center;
}

.record.passed {
    background-color: rgb(230, 250, 230);
}

.record.failed {
    background-color: rgb(250, 230, 230);
}

/* create page */
div#create-container {
    margin-top: 20px;
}

div#quiz-field {
    float: left;
    width: 35%;
    display: flex;
    flex-direction: column;
}

div#quiz-field button {
    font-size: 16px;
}

div#quiz-field div {
    background-color: #fbfbfb;
}

div#quiz-field label {
    font-weight: bolder;
}

#quiz-field .fas {
    float: right;
}

#basic-options.hidden {
    height: 0;
    visibility: hidden;
    padding: 0;
}

#basic-options {
    visibility: visible;
    height: 100%;
    padding: 13px 5px 3px 5px;
}

#title {
    width: calc(100% - 6px);
    outline: none;
    margin-bottom: 13px;
    background-color: #fffaf8;
    border: 1px solid black;
    margin-top: 2px;
}

#description {
    width: calc(100% - 6px);
    resize: none;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 10px;
    margin-top: 2px;
    outline: none;
    background-color: #fffaf8;
}

div#more-options.hidden {
    height: 0;
    visibility: hidden;
    padding: 0;
}

div#more-options {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    column-gap: 4%;
    row-gap: 20%;
    height: 100px;
    padding: 20px 5px 60px 5px;
}

div#more-options label {
    font-weight: normal;
}

div#more-options input, select {
    background-color: #fffaf8;
    border: 1px solid black;
    text-align: center;
    outline: none;
}

div#more-options input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

/* take quiz  */
#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz form {
    width: 85%;
    min-width: 100%;
    max-width: 100%;
}

.choices {
    display: flex;
    flex-direction: column;
}

#quiz button {
    font-size: 16px;
    margin-top: 20px;
}

.description {
    display: flex;
    align-items: center;
}

.description h3{
    margin-right: 10px;
}

.description p {
    color: grey;
}

/* show submission */
.submission-title {
    text-align: center;
}

#submission {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

p.correct:before {
    content:'\2713';
    display:inline-block;
    color:green;
    padding:0 6px 0 0;
}

p.wrong:before {
    content:'\274c';
    display:inline-block;
    color:red;
    padding: 0 6px 0px 0;
    font-size: 9px;
}

ul li {
    list-style-type:none;
    font-size:1em;
}

ul {
    padding-left: 0px;
}